<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Recipe</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

    <style>
        .card {
            border: solid 1px #007bff;
            margin-bottom: 30px;
        }

        .help-block, .has-error {
            color: red;
        }

        .has-error-input {
            border: solid 1px red;
        }

    </style>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px;">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <form th:object="${recipe}" th:action="@{/recipe/}" method="post"> <!-- POST on /recipe -->

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please correct errors below</p>
                </div>

                <input type="hidden" th:field="*{id}"/>
                <!-- EDIT RECIPE CARD CARD -->
                <div class="card card-primary">
                    <div class="card-header text-light bg-primary">
                        <h1 class="card-title">Edit recipe info</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 form-group" th:class="${#fields.hasErrors('description')} ?
                                'has-error' : ''">
                                <label th:text="#{recipe.description}">Recipe description</label>
                                <input type="text" class="form-control" th:field="*{description}" th:errorclass="has-error-input"/>
                                <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Categories: </label>
                            </div>
                            <div class="col-md-9 form-group">
                                <div class="radio">
                                    <label>
                                        <input type="checkbox" value=""/>
                                        Category 1
                                    </label>
                                </div>
                                <div class="radio" th:remove="all">
                                    <label>
                                        <input type="checkbox" value=""/>
                                        Category 2
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group" th:class="${#fields.hasErrors('prepTime')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                <label>Prep Time:</label>
                                <input type="text" class="form-control" th:field="*{prepTime}" th:errorclass="has-error"/>
                                <span class="help-block" th:if="${#fields.hasErrors('prepTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                            </div>
                            <div class="col-md-3 form-group" th:class="${#fields.hasErrors('cookTime')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                <label>Cooktime:</label>
                                <input type="text" class="form-control" th:field="*{cookTime}" th:errorclass="has-error"/>
                                <span class="help-block" th:if="${#fields.hasErrors('cookTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Difficulty:</label>
                                <select class="form-control" th:field="*{difficulty}">
                                    <option th:each="difficulty : ${T(pl.mpacala.sfgrecipieapp.model.Difficulty).values()}"
                                            th:value="${difficulty.name()}"
                                            th:text="${difficulty.name()}"></option>
                                    <!--for previewing w/o thymeleaf-->
                                    <option th:remove="all">EASY</option>
                                    <option th:remove="all">MEDIUM</option>
                                    <option th:remove="all">HARD</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group" th:class="${#fields.hasErrors('servings')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                <label>Servings:</label>
                                <input type="text" class="form-control" th:field="*{servings}" th:errorclass="has-error"/>
                                <span class="help-block" th:if="${#fields.hasErrors('servings')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Source:</label>
                                <input type="text" class="form-control" th:field="*{source}"/>
                            </div>
                            <div class="col-md-3 form-group" th:class="${#fields.hasErrors('url')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                <label>URL:</label>
                                <input type="text" class="form-control" th:field="*{url}" th:errorclass="has-error"/>
                                <span class="help-block" th:if="${#fields.hasErrors('url')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('url')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- INGREDIENTS CARD -->
                <div class="card">
                    <div class="card-header bg-primary">
                        <div class="row">
                            <div class="col-md-11 ">
                                <h1 class="card-title text-light">Ingredients</h1>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-default" href="#" role="button">Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li th:remove="all">1 Cup of milk</li>
                                    <li th:remove="all">1 Teaspoon of chocolate</li>
                                    <li th:each="ingredient : ${recipe.ingredients}"
                                        th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.uom.getUnit() +
                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- DIRECTIONS CARD -->
                <div class="card">
                    <div class="card-header bg-primary">
                        <h1 class="panel-title text-light">Directions</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" rows="3" th:field="*{directions}"></textarea></div>
                        </div>
                    </div>
                </div>
                <!-- NOTES CARD -->
                <div class="card">
                    <div class="card-header bg-primary">
                        <h1 class="card-title text-light">Notes</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning">Submit</button>

            </form> <!-- ./END OF FORM -->
        </div>
    </div>
</div>


<!-- bootstrap js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</body>
</html>