<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

    <style>
        .card {
            border: solid 1px #007bff;
            margin-bottom: 30px;
        }

    </style>

</head>
<body>

    <div class="container-fluid" style="margin-top: 20px">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary">
                        <div class="row">
                            <div class="col-md-11">
                                <h1 class="card-title text-light">Ingredients</h1>
                            </div>
                            <div class="col-md-1 p-0">
                                <a class="btn btn-light" role="button" href="#"
                                        th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/new'}" >New</a>

                            </div>
                        </div>

                    </div>

                    <div class="card-body">

                        <div class="table-responsive" th:if="${not #lists.isEmpty(recipe.ingredients)}">
                            <table class="table table-hover">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>ID</th>
                                        <th>Description</th>
                                        <th>View</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:remove="all">
                                        <td>123</td>
                                        <td>RecipeName</td>
                                        <td><a href="#">View</a></td>
                                        <td><a href="#">Update</a></td>
                                        <td><a href="#">Delete</a></td>
                                    </tr>

                                    <tr th:each="ingredient : ${recipe.ingredients}">
                                        <td th:text="${ingredient.id}">1</td>
                                        <td th:text="${ingredient.amount}+' '+${ingredient.uom.getUnit()}
                                            +' '+${ingredient.description}">Recipe</td>
                                        <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/'
                                            + ${ingredient.id} + '/show'}">View</a></td>
                                        <td><a href="#" th:href="@{'/recipe/'+${recipe.id} + '/ingredient/'
                                            + ${ingredient.id} + '/update'}">Update</a></td>
                                        <td><a href="#" th:href="@{'/recipe/'+${recipe.id} + '/ingredient/'
                                            + ${ingredient.id} + '/delete'}">Delete</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- bootstrap js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</body>
</html>